body{
	margin:0;
	padding:0;
	background: #855e4210;
}

.container{
	width:90%;
	margin:auto;
}

.register-user-btn{
  background: transparent;
	color: rgb(104, 103, 103);
  transition: 2s;
}

.register-user-btn:hover{
	background: linear-gradient( to right bottom, rgba(85, 223, 85, 0.8), rgba(8, 196, 33, 0.8));
	color: white;
}

.loan-appv-btn button{
	background: transparent;
	cursor: pointer;
	font-size: 18px;
	border: none;
  color: rgb(104, 103, 103);
  transition: 2s;
}

.loan-appv-btn button:hover{
	color: rgba(85, 223, 85, 0.8);
}

.loan-rejct-btn button{
	text-decoration: none;
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 18px;
	color: rgb(104, 103, 103);
}

.loan-rejct-btn button:hover{
	color: red;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/*
Label the data
*/
#acct-list td:nth-of-type(1):before { content: "Email"; }
#acct-list td:nth-of-type(2):before { content: "Firstname"; }
#acct-list td:nth-of-type(3):before { content: "Lastname"; }
#acct-list td:nth-of-type(4):before { content: "Address"; }
#acct-list td:nth-of-type(5):before { content: "Status"; }

.loan-history td:nth-of-type(1):before { content: "User"; }
.loan-history td:nth-of-type(2):before { content: "Amount"; }
.loan-history td:nth-of-type(3):before { content: "Tenor"; }
.loan-history td:nth-of-type(4):before { content: "PaymentInstallment"; }
.loan-history td:nth-of-type(5):before { content: "Repaid"; }
.loan-history td:nth-of-type(6):before { content: "Balance"; }
.loan-history td:nth-of-type(7):before { content: "Interest"; }
.loan-history td:nth-of-type(8):before { content: "Status"; }

#all-loans td:nth-of-type(1):before { content: "Id"; }
#all-loans td:nth-of-type(2):before { content: "User"; }
#all-loans td:nth-of-type(3):before { content: "Amount"; }
#all-loans td:nth-of-type(4):before { content: "Tenor"; }
#all-loans td:nth-of-type(5):before { content: "PaymentInstallment"; }
#all-loans td:nth-of-type(6):before { content: "Repaid"; }
#all-loans td:nth-of-type(7):before { content: "Balance"; }
#all-loans td:nth-of-type(8):before { content: "Interest"; }
#all-loans td:nth-of-type(9):before { content: "Status"; }

}