<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quick Credit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/signup.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
</head>

<body>
  <header>
    <nav>
      <div class="navigation__wrapper-a">
        <div class='container'>
        <div id="header-title"><img id='imagelogo' src="../images/edit1.jpg" alt="avatar"></div>
        <div id="header-title"><a href="../index.html">Quick Credit</a></div>
        <div class='nav-link'><a href="./signup.html">Sign Up</a></div>
        </div>
      </div>
    </nav>
  </header>

  <div>
  <div class="forms-container">
      <div class="img-container">
          <img src="../images/avatar.png" alt="avatar">
      </div>
      

      <div class="form-box">
          <h2>Sign In</h2>
          <p class="loader-center" id="sign-load"></p>
          <form name='signinForm' id="sign-in-form" method="POST" enctype='multipart/form-data'>
              <p class="err" id="sign-err"></p>
              <p class="err-text"></p>
              <input type="text" placeholder="Email" name="email" required>
              <p class="err-text"></p>
              <input type="password" placeholder="Password" name="password" required>
              <button>SIGN IN</button>


          </form>
          <p><a href="./signup.html">Don't have an account?</a></p>
          <p><a href="./email.html">Forgot your password?</a></p>
      </div>
  </div>
  </div>



  <div class="space"></div>

  <footer>
      <p><a>Quick Credit</a>, Copyright &copy; <a>2019</a></p>
  </footer>


</body>
</html>